/* Styles specific to the messages page */
#messagesList {
  margin-bottom: 20px;
}

#messagesContainer {
  list-style-type: none;
  padding: 0;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
